@inject UCASecurity.Web.Resources.LocalizationService SharedLocalizer

@{
    ViewData["Title"] = SharedLocalizer.GetLocalizedHtmlString("Home_Index_Title");
}

<div class="container">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="~/images/hero.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">@SharedLocalizer.GetLocalizedHtmlString("Home_Hero_Title")</h1>
            <p class="lead">
                @SharedLocalizer.GetLocalizedHtmlString("Home_Hero_Description")
            </p>
        </div>
    </div>
</div>
