@inject UCASecurity.Web.Resources.LocalizationService SharedLocalizer

@{ 
    ViewData["Title"] = SharedLocalizer.GetLocalizedHtmlString("Home_Math");
    List<ItemViewModel> Math = ViewBag.Math;
}

<div class="py-5">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1 class="text-blue display-5 fw-bold lh-1">@SharedLocalizer.GetLocalizedHtmlString("Home_Math")</h1>
            </div>
        </div>
        <div class="row pt-3">
            @foreach (var algorithm in Math)
            {
                <div class="pt-2 col-12 col-md-3 col-sm-4">
                    <a class="no-underline" asp-controller="@algorithm.Controller" asp-action="@algorithm.Action">
                        <div class="card">
                            <img src="~/images/@algorithm.image" class="card-img-top" alt="">
                            <div class="card-body text-center">
                                <h5 class="card-text">@SharedLocalizer.GetLocalizedHtmlString(algorithm.Title)</h5>
                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
</div>